<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.bin.mapper.JdUserDao">
	<!-- 定义SQL语句 -->
    <select id="findUser" resultType="com.bin.bean.JdUser">
        select * from jd_user where login_name =#{login_name} and password = #{password};
    </select>
</mapper>